
#calendar-wrap h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 800;
  text-align: center;
  color: #fff;
}
#calendar-wrap h1 span
{
  font-size: 20px;
  font-weight: 600;
}
#calendar-wrap
{
  margin-top: 5em;
  padding: 30px;
}
#calendar {
	width: 100%;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width:14.342%;
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

#calendar ul.weekdays {
	height: 40px;
	background: #ff0157;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#calendar ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
  	font-weight: 900;
	color: #fff;
	font-size: 13px;
}
.day {
  background: #fff;
}
#calendar .days li {
	height: 120px;
}

#calendar .days li:hover {
	background: #f3f3f3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: transparent;
	color: #111;
	width: 20px;
  	font-weight: 900;
	border-radius: 50%;
	float: right;
}
#calendar .event {
	clear: both;
	display: block;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}
#calendar .event-desc {
	color: rgb(58, 58, 58);
  font-weight: 700;
	margin: 3px 0 7px 0;
	text-decoration: none;	
  cursor:inherit;
}
#calendar .event-time {
  font-weight: 500;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}
#calendar .other-month {
	background: #dbdbdb;
	color: #666;
}
@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
	}
}
/*banner*/

.button
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.button .button-content
{
    max-width: 550px;
    z-index: 100;
}
.button .button-content a
{
width: 150px;
padding: 10px 15px;
text-align: center;
font-size: 1em;
font-weight: 1000;
position: relative;
text-transform: uppercase;
background: #eb4180;
color: #fff;
letter-spacing: 2px;
text-decoration: none;
display: inline-block;
}
.button .content a:hover
{
	background: #ff0157;
}
.video
{
	padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.87);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
	transition: 0.5s;
}
body.active
{
	overflow-y: hidden;
}
.video.active 
{
    visibility: visible;
    opacity: 1;
    z-index: 1000;
	overflow-y: hidden;
}
.video video 
{
    position: relative;
    max-width: 900px;
    outline: none;
    z-index: 50;
	box-shadow: 0 5px 20px rgba(104, 80, 80, 1);
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 32px;
}
.diamond-grid
{
	width: 100%;
	margin: 0px auto 0;
	margin-bottom: 150px;
}
.item
{

	width: 220px;
	height: 220px;
	background: #111;
	transition: 0.5s;
	opacity: 1;
}
.item img
{
	box-shadow: inset 0px 0px 100px #ff0157;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) scale(1);
	width: 100%;
	transition: 0.5s;
	background-color: #fff;
}
.item .name
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(0,0,0,.8);
	text-align: center;
	justify-content: center;
	display: flex;
	opacity: 0;
	transition: 0.5s;
}
.item:hover .name
{
	opacity: 1;
	cursor: pointer;
}
.item:hover img
{
	transform: translateY(-50%) scale(1.3);
}
.item .name h2
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
	font-size: 20px;
}
.item .name p
{
	text-transform: uppercase;
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	font-weight: 800;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
@media (max-width:767px)
{
		.diamond-grid
	{
		width: 5%;
		margin: 50px 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 1855px)
{
	#calendar-wrap
	{
	padding: 200px;
	}
}
@media (max-width: 991px)
{
    .video video 
    {
        max-width: 90%;
    }
}